:root {
  /* Backgrounds */
  --bg: hsl(300, 20%, 99%);
  --bg-sub: hsl(300, 7.7%, 97.5%);
  --bg-solid: hsl(252, 4%, 57.3%);
  --bg-footer: hsl(246, 6%, 9%);

  /* Borders */
  --border-non-interactive: hsl(278, 4.1%, 89.1%);

  /* Texts */
  --text-low: hsl(252, 4%, 44.8%);
  --text-high: hsl(260, 25%, 11%);
  --text-footer: hsl(256, 6%, 93.2%);

  /* Commons */
  --link-footer: hsl(210, 100%, 66.1%);
}

[data-theme="dark"] {
  /* Backgrounds */
  --bg: hsl(246, 6%, 9%);
  --bg-sub: hsl(240, 5.1%, 11.6%);
  --bg-solid: hsl(252, 4%, 45.2%);
  --bg-footer: hsl(246, 6%, 9%);

  /* Borders */
  --border-non-interactive: hsl(244, 4.9%, 21.5%);

  /* Texts */
  --text-low: hsl(253, 4%, 63.7%);
  --text-high: hsl(256, 6%, 93.2%);
  --text-footer: hsl(256, 6%, 93.2%);

  /* Commons */
  --link-footer: hsl(210, 100%, 66.1%);
}
