@font-face {
  font-family: "Inter";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/inter/inter.woff2") format("woff2");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--text-high);
  background-color: var(--bg);
}

body {
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", Ubuntu, sans-serif;
  line-height: 1.5;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
