.container {
  display: flex;
  flex-direction: column;
}

.product_cover_container {
  position: relative;
  margin-bottom: 3rem;
}

.product_cover_container img {
  width: 100%;
  object-fit: cover;
}

.product_cover_container .product_container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translateY(2rem);
}

.product_cover_container .product_container .product {
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-non-interactive);
  border-radius: var(--border-radius);
  background-color: var(--bg-sub);
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.product_cover_container .product_container .product p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.product_carousel_container {
  background-color: cyan;
}

.product_main_container {
  margin-top: 2rem;
  padding: 1rem;
}

.product_main_container .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.product {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-non-interactive);
}

.product img {
  width: 100%;
  object-fit: cover;
}

.product .data {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  color: var(--text-high);
  background-color: var(--bg-sub);
}
